// Font
@import "@fontsource/righteous";
@import "@fontsource/albert-sans";

$base-font: "Righteous", cursive;
$second-font : "Albert Sans", sans-serif;

//Colors
$background-color: #0A0C10;
$text-color: #ffffff;