@import "../globals";

.home-slider {
  overflow: visible;
  position: relative;
  margin: 65px 0 85px 0;

  .slider-gradient{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 120%;
    border-radius: 50%;
    z-index: -1;
    filter: blur(40px);
  }

  .custom-swiper {
    overflow: visible;
    
    .swiper-slide {
      position: relative;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      opacity: 0.5; 
      
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(10, 21, 87, 0) 63.26%, #0A1557 100%);
        z-index: 2;
        border-radius: 0 0 10px 10px;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        position: relative;
      }

      .text-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 50px;
        width: 100%;
        color: $text-color;
        z-index: 3;

        h2 {
          font-family: $base-font;
          font-weight: 400;
          font-size: 38px;
          line-height: 47.18px;
          letter-spacing: 0%;
          padding-bottom: 10px;
        }

        p {
          font-family: $second-font;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0%;
          padding-bottom: 30px;
        }

        .buttons {
          display: flex;
          gap: 20px;

          .slider-primary-btn {
            border-radius: 40px;
            padding: 10px 22px;
            background-color: rgba(45, 255, 60, 0.61);
            color: #0A1557;
            font-family: Albert Sans;
            font-weight: 700;
            font-size: 16px;
            line-height: 19.2px;
            transition: 0.3s ease-in-out;

            &:hover{
              background-color: #0A1557;
              color: rgba(45, 255, 60, 1);
            }
          }

          .slider-second-btn {
            background-color: #00000080;
            padding: 8px 13px;
            border-radius: 50%;
            color: #fff;
            transition: 0.3s ease-in-out;
            border: 0.01px solid #00000080;

            &:hover{
              background-color: rgba(45, 255, 60, 1);
              color: #0A1557;
              border: 0.01px solid rgba(45, 255, 60, 1);
            }
          }
        }
      }
    }

    .swiper-slide-active {
      transform: scale(1);
      opacity: 1; 
    }
  
    .swiper-button-prev {
      left: -2.5%;

      &::after {
        font-size: 26px;
        color: #2DFF3C;
      }
    }
  
    .swiper-button-next {
      right: -2.5%;

      &::after {
        font-size: 26px;
        color: #2DFF3C;
      }
    }

    .swiper-slide-next,
    .swiper-slide-prev{
      filter: blur(5px);
    }
  }

  .custom-pagination {
    position: absolute;
    bottom: -28px; // Swiper'ın 14px altına alırsın
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
    width: max-content;

    .pagination-dot {
        width: 12px;
        height: 12px;
        background-color: rgba(10, 12, 16, 1);
        border-radius: 50%;
        transition: background-color 0.3s ease;

        &.active {
            background-color: rgba(45, 255, 60, 1);
        }
    }
}
}
